<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Details</title>
    <!-- You can add more <head> content like linking CSS files, etc. -->
</head>
<body>
    <h1>Instructor Detail Page</h1>

    <h2>Instructor: {{ instructor.first_name }} {{ instructor.last_name }}</h2>

    <h3>Students under this instructor:</h3>
    <ul>
    {% for student in students %}
        <li>{{ student.first_name }} {{ student.last_name }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'myappF23:index' %}">Back to Main Page</a>
</body>
</html>
